<li>
    {{id}} {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}DEVOUR IT!{{/if}}
    </button>

    {{!-- <button class="change-devoured btn btn-secondary btn-xs" data-id="{{id}}" type="submit"
        data-devoured="{{devoured}}">
        {{#if devoured}}DEVOUR IT!{{/if}}</button> --}}

</li>